# **花卷学Python**
---

> **我年纪轻轻就学会了Python编程**


# **第十四章、Python编程：操作数据库**

   - [x] **sqlite**
   - [x] **msyql**

---

# **一、sqlite**

---

SQLite是一种嵌入式数据库，它的数据库就是一个文件。由于SQLite本身是C写的，而且体积很小，所以，经常被集成到各种应用程序中，甚至在iOS和Android的App中都可以集成。

Python就内置了SQLite3，所以，在Python中使用SQLite，不需要安装任何东西，直接使用。

在使用SQLite前，我们先要搞清楚几个概念：

表是数据库中存放关系数据的集合，一个数据库里面通常都包含多个表，比如学生的表，班级的表，学校的表，等等。表和表之间通过外键关联。

要操作关系数据库，首先需要连接到数据库，一个数据库连接称为Connection；

连接到数据库后，需要打开游标，称之为Cursor，通过Cursor执行SQL语句，然后，获得执行结果。

Python定义了一套操作数据库的API接口，任何数据库要连接到Python，只需要提供符合Python标准的数据库驱动即可。

由于SQLite的驱动内置在Python标准库中，所以我们可以直接来操作SQLite数据库。

In [4]:
import sqlite3

In [5]:
conn = sqlite3.connect('test.db')
# 创建一个Cursor:
cursor = conn.cursor()
# 执行一条SQL语句，创建user表:
cursor.execute('create table user (id varchar(20) primary key, name varchar(20))')

# 继续执行一条SQL语句，插入一条记录:
cursor.execute(f"""insert into user (id, name) values ('1', 'name1')""")
cursor.execute(f"""insert into user (id, name) values ('2', 'name2')""")

# 提交事务:
conn.commit()

# 关闭Cursor:
cursor.close()

# 关闭Connection:
conn.close()

In [6]:
### 查询上述插入的数据

conn = sqlite3.connect('test.db')
cursor = conn.cursor()

# 执行查询语句:
cursor.execute('select * from user;')

# 获得查询结果集:
values = cursor.fetchall()
print(values)

cursor.close()
conn.close()

[('1', 'name1'), ('2', 'name2')]

---

# **二、mysql**

---

MySQL是Web世界中使用最广泛的数据库服务器。SQLite的特点是轻量级、可嵌入，但不能承受高并发访问，适合桌面和移动应用。而MySQL是为服务器端设计的数据库，能承受高并发访问，同时占用的内存也远远大于SQLite。

此外，MySQL内部有多种数据库引擎，最常用的引擎是支持数据库事务的InnoDB。

pymysql模块可以在python种链接MySql数据库，并实现对数据的操作。

## **安装**

- **`pip install pymysql`**

## **连接**

```python

import pymysql

conn=pymysql.connect( host="地址",port=3306,user="用户名",password="密码",charset='utf8',)#连接数据库

```

In [10]:
import pymysql

con = pymysql.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="123456",
    charset='utf8'
)#连接数据库
cur = conn.cursor()

In [11]:
cur.execute("create database testing;")

1

In [15]:
sql = f'''
    Create Table If Not Exists `testing`.`user`(\
      `id` INTEGER PRIMARY KEY AUTO_INCREMENT, \
      name VARCHAR(100), \
      value VARCHAR(30) \
      ) character set utf8;
'''
cur.execute(sql)
con.commit()

In [17]:
sql = f"""
    insert into `testing`.`user` \
    (name,value) values \
    ('name1','10');
"""
cur.execute(sql)
con.commit()

In [19]:
sql = f"""
    insert into `testing`.`user` \
    (name,value) values \
    ('name2','20');
"""
cur.execute(sql)
con.commit()

In [20]:
sql = f"""
    select * from `testing`.`user`;\
"""
cur.execute(sql)
cur.fetchall()

((1, 'name1', '10'), (2, 'name1', '10'), (3, 'name2', '20'))

In [21]:
sql = f"""
    delete from `testing`.`user` where name='name2';\
"""
cur.execute(sql)
con.commit()

In [22]:
sql = f"""
    select * from `testing`.`user`;\
"""
cur.execute(sql)
cur.fetchall()

((1, 'name1', '10'), (2, 'name1', '10'))